export DATABASE_URL="postgres://postgres:i8bX0ZWDazYusR9ctUbC@postgres.fruitiex.org/homectl"
export PGHOST=postgres.fruitiex.org
export PGUSER=postgres
export PGPASSWORD=i8bX0ZWDazYusR9ctUbC
export PGDATABASE=homectl

use flake